body {
  font-family: 'Helvetica Neue', Helvetica;
}

.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #0097a7;
}

nav {
  width: 100vw;
  height: 8vh;
  margin-bottom: 2vh;
  background-color: #006064;
}

nav a {
  width: 25vw;
  height: 8vh;
  display: block;
  float: left;
  color: #e0f7fa;
  overflow: auto;
  text-transform: uppercase;
  transition-duration: 0.5s;
  padding-top: 2vh;
}

nav a:hover {
  background-color: #e0f7fa;
  color: #006064;
  transition-duration: 0.5s;
}

.home {
  background-image: url(../images/home.png);
  background-size: 5vh;
  background-position: center;
  background-repeat: no-repeat;
}

.home:hover {
  background-image: url(../images/home-hover.png);
}

.squad {
  background-image: url(../images/squad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5vh;
}

.squad:hover {
  background-image: url(../images/squad-hover.png);
}

.table {
  background-image: url(../images/table.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5vh;
}

.table:hover {
  background-image: url(../images/table-hover.png);
}

.logout {
  background-image: url(../images/logout.png);
  background-size: 5vh;
  background-position: center;
  background-repeat: no-repeat;
}
.logout:hover {
  background-image: url(../images/logout-hover.png);
}

.active {
  background-color: #00838f;
  color: #e0f7fa;
}

.position {
  height: 45vh;
  width: 45vh;
  border-radius: 22.5vh;
  overflow: hidden;
  background-color: #00838f;
  margin-left: calc((100vw - 45vh) / 2);
  margin-top: 5vh;
  transition-duration: 0.5s;
}

img {
  height: 45vh;
  width: auto;
  transition-duration: 0.5s;
  margin: auto;
  display: block;
}

table {
  color: #e0f7fa;
}

.first-row {
  background-color: #006064;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.first-row:hover {
  background-color: #006064;
  color: #e0f7fa;
}

.last-row {
  background-color: #006064;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.last-row:hover {
  background-color: #006064;
  color: #e0f7fa;
}

tr {
  background-color: #00838f;
  width: 80vw;
  height: 10vh;
  margin-left: 10vw;
  display: block;
  padding-top: 4vh;
  font-size: 3vh;
}

th {
  width: 40vw;
  text-align: center;
}

tr:hover {
  background-color: #e0f7fa;
  transition-duration: 0.5s;
  color: #00838f;
}

tr:hover a {
  color: #00838f;
}

h1 {
  display: block;
  color: #e0f7fa;
  width: 50vw;
  height: 10vh;
  margin-left: 25vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 3vh;
  padding-top: 3.5vh;
  border-radius: 1vh;
  background-color: #00838f;
}

.position:hover {
  background-color: #006064;
  transition-duration: 0.5s;
}

.position:hover img {
  height: 65vh;
  width: auto;
  transition-duration: 0.5s;
}
