{% load staticfiles %}
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/semantic/semantic.min.css' %}">
  <script src="{% static 'blog/semantic/semantic.min.js' %}"></script>
  <style type="text/css">
  body {
    background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }
    .main.container {
      margin-top: 7em;
    }
    .wireframe {
      margin-top: 2em;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>
</head>

<body>
  <div class="ui fixed green inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        Blog
      </a>
      <a href="/" class="item">Inicio</a>
      {% if user.is_authenticated %}
        <a href="/articulosprivados/" class="item">Mis publicaciones</a>
        <div class="right menu">
          <span class="item">Has iniciado sesión como <strong>: {{user.username}}</strong></span>
          <a href="/logout/" class="item">Cerrar sesión</a>
        </div>
      {% else %}
          <div class="right menu">
            <a href="/login/" class="item">Iniciar sesión</a>
            <a href="/register/" class="item">Registro</a>
          </div>
      {% endif %}
    </div>
  </div>
  <div class="ui main text container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
