{% extends 'base.html' %}
{% block content %}
{% if status %}
<div class="ui olive message">
  {{status}}
</div>
{% endif %}
{% if not user.is_authenticated %}
  <form class="ui form" action="/login/" method="post">
  {% csrf_token %}
    <div class="field">
      <label>Usuario</label>
      <input name="usuario" placeholder="Usuario" type="text">
    </div>
    <div class="field">
      <label>Contraseña</label>
      <input name="pass" placeholder="Contraseña" type="text">
    </div>
    <button class="ui button" type="submit">Entrar</button>
  </form>
{% endif %}
{% endblock %}
