{% extends 'base.html' %}
{% block contenido %}
		<h2 align="center">{{ articulo.titulo }}</h2>
		{% if articulo.imagen %}
			<img src='{{MEDIA_URL}}{{articulo.imagen}}' width="250" height="250"/>
		{% endif %}
		<p>{{ articulo.cuerpo|linebreaks }}</p>
		<p><i>Autor: <a href="/articulos/{{ articulo.usuario }}/">{{ articulo.usuario }}</a></i></p>
		{% if articulo.fechaMod %}
			<p><i>Modificado por última vez el: {{articulo.fechaMod}}</i></p>
		{% endif %}
		{% if user == articulo.usuario or user.is_staff %}
			<p align="right"><button type="button" onClick="window.location='/modificar_articulo/{{ articulo.id }}/'">Modificar Articulo</button></p>
			<p align="right"><button type="button" onClick="window.location='/borrar_articulo/{{ articulo.id }}/'">Borrar Articulo</button></p>
		{% endif %}
		<br>
		<h3 align="center">Comentarios:</h3>
		{% for comentario in comentarios %}
			<p><i>Escrito por {{ comentario.usuario }} el : {{ comentario.fecha }}</i></p>
			<p>{{ comentario.texto|linebreaks }}</p>
			{% if comentario.fechaMod %}
				<p><i>Modificado por última vez el: {{comentario.fechaMod}}</i></p>
			{% endif %}
			{% if user == comentario.usuario or user.is_staff %}
				<p align="right"><button type="button" onClick="window.location='/modificar_comentario/{{articulo.id}}/{{comentario.id}}/'">Modificar Comentario</button>
				<p align="right"><button type="button" onClick="window.location='/borrar_comentario/{{articulo.id}}/{{comentario.id}}/'">Borrar Comentario</button></p>
			{% endif %}
			<br>
		{% endfor %}
		<br>
		<p><button type="button" onClick="window.location='/nuevo_comentario/{{articulo.id}}/'">Comentar Artículo</button></p>
{% endblock %}