{% extends 'base.html' %}
{% block contenido %}
	{% for articulo in articulos %}
		<h1 align="center"><a href="/articulo/{{ articulo.id }}/">{{ articulo.titulo }}</a></h1>
		<p>{{ articulo.cuerpo|linebreaks }}</p>
		<p><i>Autor: <a href="/articulos/{{ articulo.usuario }}/">{{ articulo.usuario }}</a>{% if articulo.fechaMod %} Última modificacion el: {{articulo.fechaMod}}{% else %} Creado el: {{articulo.fecha}} {% endif %}</i></p>
	{% endfor %}
	<div class="pagination">
    <span class="step-links">
        {% if articulos.has_previous %}
            <a href="?page={{ articulos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articulos.number }} of {{ articulos.paginator.num_pages }}.
        </span>

        {% if articulos.has_next %}
            <a href="?page={{ articulos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}