
/*************************
*******Header CSS******
**************************/
#sb_frm_searchbox_1,#sb_frm_searchbox_2{background-color:#f5f5f5}#sb_frm_searchbox_1{padding:5px}#sb_frm_searchbox_2{width:100%;margin-bottom:25px;padding-bottom:4px}.sb_form fieldset{border:0;padding:3px 8px 0 8px;position:relative}.sb_form fieldset.mainFieldset{padding:0;margin:0}.sb_form fieldset.catFieldset{padding:0}.sb_form fieldset.field04{margin-bottom:0}.sb_form fieldset.catFieldset li{padding-left:6px}.sb_form fieldset.catFieldset .sublevel1_selector li{padding-left:0}.ie7 #searchboxtop{z-index:-10}.catFieldset{font-size:15px}.allCatLink{padding-left:3px!important;margin-top:5px}.catFieldset li.allCatLink a,.catFieldset li.allCatLink a:link,.catFieldset li.allCatLink a:hover,.catFieldset li.allCatLink a:active{color:#0869ae!important;padding-left:0;font-weight:bold}.parentLink a,.parentLink a:link,.parentLink a:hover,.parentLink a:active{color:#0869ae!important;text-transform:lowercase}.catFieldset li.allCatLink:hover,.parentLink:hover{background-color:#DDD}.sb_form{display:block;width:98.9%}.mainfields label{display:block;font-size:12px;color:#545454;margin-bottom:4px}.mainElement{float:left;margin-right:4px;border-left:1px solid #f5f5f5}.sb_element_container_q{margin-right:0}.mainElement label{display:block;font-size:14px;margin-bottom:5px}.sb_titlesearch_container{width:140px;float:left;margin:4px 4px 0 0;position:absolute;top:0;left:144px}.bigElem{height:39px;width:230px;overflow:hidden;background-color:#FFF;text-align:center}.bigElemParent{position:relative;left:-1px}.bigElemProvince{width:234px}.ff2.mac .bigElemProvince select,.ff2.mac .bigElemParent select{background:0;width:92%}.safari .bigElemProvince select,.safari .bigElemParent select{background-color:transparent;-webkit-appearance:none;width:100%;float:left;margin-left:10px}.safari .bigElemProvince,.safari .bigElemParent{background:url("/17011/img/selectArrowSafari.png") no-repeat 95% 60% #fff}.sb_element_q .bigElem{background:0;width:381px;border-right:1px solid #f5f5f5}.bigElem input,.bigElem select{border:0;font-size:15px;height:37px;padding:5px;background-color:transparent;outline:0}.ie7 .bigElem input{width:100%;line-height:35px;z-index:-2}.bigElem input{width:100%;background-color:#FFF;height:29px}.ie8 .bigElem input{padding:10px 8px 8px 8px;height:20px}.bigElem select{padding:0;width:96%;text-overflow:ellipsis;height:auto;margin-top:9px}.sb_titlesearch_container input{float:left;margin-right:4px;margin-top:1px}
.sb_subtype_input,.sb_subtype_label{width:auto;float:left}.ie .sb_subtype_radio{width:13px;height:13px;padding:0}.sb_subtype_input{margin-right:5px}.ie .sb_checkbox{padding:0}.sb_searchextras{padding-top:9px}.sb_input_label{font-size:12px;color:#333;font-weight:bold;margin-bottom:5px;padding-left:3px}.titleSearchLabel{float:none;font-size:12px;font-weight:normal}.eventDate{display:block;bottom:11px;left:192px}.sb_row_Areas{padding-bottom:6px}.mac .sb_row_Areas{margin-bottom:6px}.sb_row_Areas .sb_element_container{padding-right:0}.sb_input_small select{width:132px;padding:4px}.mac .sb_input_small{border:1px solid #a69c74;border-radius:5px;height:26px;margin-bottom:5px}.mac .sb_input_small select{border:0;height:26px;font-size:13px}#sb_submit{width:104px;float:left}button.sb_submit_button{width:104px;text-align:center;color:#fff;font-size:12px;height:39px;line-height:39px;position:relative;background-color:#ff9326;border:0}.safari button.sb_submit_button{padding-top:3px}button.sb_submit_button.active:hover{background-color:#ffbe7d}button.active{background-color:#ff9326;color:#FFF;cursor:pointer}.category_selector{padding:0 0 5px 1px;margin:0}.catFieldset li{min-height:25px;line-height:25px;padding-left:38px;cursor:pointer;font-size:13px;color:#444;margin-bottom:0}.catFieldset li.allCatLink276{line-height:100%;padding-top:10px}.catFieldset li.grateCat{font-size:15px;min-height:36px;line-height:36px}.catFieldset li a,.catFieldset li a:link,.catFieldset li a:hover,.catFieldset li a:visited{color:#444;padding-left:37px;text-decoration:none}.ff2 .sb_form .field04{margin-bottom:0}.field04 li a,.field04 li a:link,.field04 li a:hover,.field04 li a:visited{padding-left:0;color:#0869ae!important}.sb_form fieldset.catFieldset li.whiteLink{padding-left:25px;position:relative;width:195px}.sb_form fieldset.catFieldset li.showMoreResultsSL1 .whiteLinkText{padding-left:35px;width:183px}.sb_form fieldset.catFieldset li.hideSublevel{font-weight:normal}.keyResults li.whiteLink{padding-left:30px}.catFieldset ul.sublevel1_selector li a:link{display:block;padding:5px 0 5px 35px;line-height:15px;font-weight:normal}.catFieldset ul.sublevel1_selector li a:hover{background-color:#DDD}.whiteLink:hover{background-color:#DDD}.keyResults .whiteLink:hover{background-color:#f5f5f5}.whiteLinkText{display:inline-block;width:90%;line-height:120%;padding-top:4px}.keyResults .whiteLinkText{padding-bottom:5px;padding-left:25px;display:block;width:100%;position:relative;left:-24px}.keyResults .whiteLinkText:hover{background-color:#DDD}.filtersField .whiteLink{border:0}.showMore,.showLess{position:absolute;left:6px;top:4px;width:16px;height:16px;text-indent:-1000px;overflow:hidden;z-index:1000}.showMore{background:transparent url(/17011/img/sprite-buscador.png) no-repeat 0 -445px}.showLess{background:transparent url(/17011/img/sprite-buscador.png) no-repeat -16px -445px}.catFieldset li.showMoreResults{color:#0666ac}.presentCat{font-weight:bold;min-height:15px!important;line-height:15px!important;margin-top:10px;padding-bottom:0}li.presentCat{font-size:15px;padding-right:5px;padding-bottom:10px}li.presentCat:hover{cursor:auto}li.grateCatTodas{padding-left:8px}li.grateCatTodas:hover{cursor:default}.cat_vehiculos{background:url(/17011/img/sprite-buscador.png) no-repeat 4px 6px}.cat_inmobiliaria{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -30px}.cat_hogar{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -65px;margin-top:5px}.cat_moda{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -102px}.cat_ninos{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -138px}.cat_electronica{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -174px}.cat_ocio{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -209px}.cat_animales{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -246px}.cat_trabajo{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -283px}.cat_negocios{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -317px}.cat_otros{background:url(/17011/img/sprite-buscador.png) no-repeat 4px -354px}

.header_top {
  background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}


.contactinfo ul li a:hover{
	background:inherit;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding:0px;
}


.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}

.fa-linkedin:hover  {
	background:#FF4518;
}

.fa-dribbble:hover  {
	background:#90C9DC;
}

.fa-google-plus:hover  {
	background:#CE3C2D;
}

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}

.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
	background:#FE980F;
	color:#fff;
	border-color:#FE980F;
}

.usa:active, .usa.active {
  background: none repeat scroll 0 0 #FE980F;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


.shop-menu ul li {
	display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i{
	margin-right:3px;
}


.shop-menu ul li a:hover {
	color:#fe980f;
	background:#fff;
}


.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#fdb45e;
}

.search_box input {
  background: #F0F0E9;
  border: medium none;
  color: #B2B2B2;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 130px;
}
/*************************
*******Footer CSS******
**************************/

#footer {
  background: #F0F0E9;
}


.footer-top .container {
  border-bottom: 1px solid #E0E0DA;
  padding-bottom: 20px;
}

.companyinfo {
  margin-top: 57px;
}

.companyinfo h2 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 27px;
  text-transform: uppercase;
}

.companyinfo h2  span{
  color:#FE980F;
}

.companyinfo p {
  color: #B3B3AD;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.footer-top .col-sm-3{
  overflow: hidden;
}

.video-gallery {
  margin-top: 57px;
  position: inherit;
}

.video-gallery a img {
  height: 100%;
  width: 100%;
}

.iframe-img {
  position: relative;
  display: block;
  height: 61px;
  margin-bottom: 10px;
  border: 2px solid #CCCCC6;
  border-radius: 3px;
}

.overlay-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 61px;
  background: #FE980F;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  line-height: 0;
  display: block;
  opacity: 0;
   -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
  position: relative;
  top: 50%;
  margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
  opacity: 1;
}

.video-gallery p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom:0px;
}

.video-gallery  h2 {
  color: #8c8c88;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform:uppercase;
  margin-top:0px;
}


.address {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.address  img {
	width:100%;
}

.address p {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  left: 25px;
  position: absolute;
  top: 50px;
}

.footer-widget {
  margin-bottom: 68px;
}

.footer-widget .container {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}

.single-widget h2 {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:#FE980F;
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: #CCCCC6;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover, 
.searchform  button:focus{
	background-color:#FE980F;
}

.searchform p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #FE980F;
  font-style: italic;
  text-decoration: underline;
}
