{% extends 'index.html' %}
{% block titulo %} Mi Zona {% endblock %}

{% block encabezado %}
     <div class="container">
 		 <h1> Zona {{usuario.username}}</h1>
	</div>
{% endblock %}

{% block contenido %}

<section>

  <section id="form"><!--form-->
    <div class="container">
      <div class="row">

        <div class="col-sm-9">
             <div class="product-image-wrapper">
                <div class="single-products">

					<font size="6" color="blue">Tus mensajes recibidos</font><br><br>
					{% if recibidos %}
						Mensaje de: 
						<ul>
							{% for Mensaje in recibidos %}
								<li><a href="mensaje/{{Mensaje.id}}">{{Mensaje.fromu}} </a> {{Mensaje.fecha}}</li>

							{% endfor %}
						</ul>
					{% else %}
						No tiene mensajes. <br>
					{% endif %}                
				</div>
			</div>        
				        
        </div>
        	<div class="col-sm-3">

	      		{% block section-navigation %}
				<a href="enviados/">Mensajes Enviados</a><br>
				{% endblock %}
     		 </div>
      </div>
    </div>
  </section><!--/form-->


{% endblock %}



