{% extends 'index.html' %}
{% block titulo %} Coment{% endblock %}

{% block encabezado %}
     <div class="container">
 		 <h1> Comentar </h1>
	</div>
{% endblock %}

{% block contenido %}




<div class="container">
  <div class="row">
     <div class="col-sm-4">

       <img src='{{MEDIA_URL}}{{anuncioComent.imagen}}' WIDTH=128 HEIGHT=128 alt="" /><br>
       Propietario: <strong>{{anuncioComent.propietario}}</strong>
       <p>Titulo: {{anuncioComent.titulo}}</p>
       <p>Precio: {{anuncioComent.precio}}</p>
       <p>Provincia: {{anuncioComent.provincia}}</p>
       <p>Categoria: {{anuncioComent.Categoria}}</p>


      </div>
            <div class="col-sm-6">
              
              <form id='formucomentario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
                <table class='formTable'>{{formucomentario.as_p}}</table>
                <p><input type='submit' value='Confirmar'/></p>
              </form>

            </div>
  </div><!--rowr-->
</div>

{% endblock %}

