{% extends 'index.html' %}
{% block titulo %} Contacto {% endblock %}

{% block encabezado %}
    <div class="container">
 		 <h1>Formulario de contacto</h1>
	</div>
{% endblock %}

{% block contenido %}

    <div class="container">
      <div class="row">
        <div class="col-sm-2">
        </div>

        <div class="col-sm-4">
		      <h1>Contacto</h1>

             <form id='formulario' method='post' action=''>

				{% csrf_token %}
				<table>{{formulario.as_p}}</table>
				<p><input type='submit' value='Confirmar'/></p>

			</form>

        </div>
      </div>
    </div>
	
  

{% endblock %}

