{% extends 'index.html' %}
{% block titulo %} Mi Zona {% endblock %}

{% block encabezado %}
     <div class="container">
 		 <h1> Zona {{user.username}}</h1>
	</div>
{% endblock %}

{% block contenido %}

<section>

  <section id="form"><!--form-->
    <div class="container">
      <div class="row">


        <div class="col-sm-1">
        
        </div>

        <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="" >
                          <img src='{{MEDIA_URL}}{{user.avatar}}' WIDTH=128 HEIGHT=128 alt="" />

                           <p>Alias: {{user.username}}</p>
                           <p>Nombre: {{user.first_name}}</p>
                           <p>Apellidos: {{user.last_name}}</p>
                           <p>E-mail: {{user.email}}</p>
                           <p>Provincia: {{user.provincia}}</p>
                           <p>Ciudad: {{user.ciudad}}</p>
                           
                           <p>Ultima conexion: {{user.last_login}}</p>   
                           <p>Usuario Desde: {{user.date_joined}}</p>   

                       <!-- <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ver Anuncio</a> -->

                    </div>
                </div>
              </div>        
        
        </div>

        <div class="col-sm-2">
        
        </div>

        <div class="col-sm-5 ">
          <div class="login-form"><!--login form-->



            <input type="button" class="btn btn-primary" value="{{user.username}} Anuncios " onClick=" window.location.href='clasificados/{{user.id}}' ">
            <br><br>


                {% if user.is_authenticated %}
     <!--<form action="/editarAnuncio/{{anuncio.id}}"><input type="submit" value=Modificar></form margin=0>-->

     <!--<form action="/eliminarAnuncio/{{anuncio.id}}"><input type="submit" value=Eliminar></form margin=0>-->

                  {% if conectado %}
        
                  <input type="button" class="btn btn-primary" value="Editar Perfil" onClick=" window.location.href='editarPerfil/{{usuario.id}}' "><br><br>
                  <input type="button" class="btn btn-primary" value="Buzon" onClick=" window.location.href='buzon/' "><br><br>


                  <input type="button" class="btn btn-primary" value="Eliminar Perfil" onClick=" window.location.href='eliminarCuenta/{{usuario.id}}' "><br><br>
        <!--<form action="/eliminararticulo/{{articulo.id}}"><input type="submit" value=Eliminar></form>-->
                  {% else %}
                  <form action='/bmensaje' method='get' role='search'>
                      <input name="nombre" value="{{user.id}}" type="hidden" >
                      <input type="button" class="btn btn-primary" value="Enviar Mensajes a {{user.username}}" onClick=" window.location.href='enviarMensaje/{{user.id}}' "><br><br>
                  </form>
                 {% endif %}

               {% endif %}
          


          </div><!--/login form-->
        </div>

      </div>
    </div>
  </section><!--/form-->


{% endblock %}

