
{% extends 'index.html' %}
{% block titulo %} Loguear {% endblock %}

{% block encabezado %}
    <div class="container">
		<h1>Login de acceso</h1>
	</div>
{% endblock %}

{% block contenido %}
<br><br>
	<br>
	<br>

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">


				<div class="col-sm-1">
				
				</div>

				<div class="col-sm-4">
					<div class="login-form"><!--login form-->
						<h2>
							<p>Error en el proceso de acceso..</p></h2>

					</div><!--/login form-->
				</div>

				<div class="col-sm-2">
				
				</div>


			</div>
		</div>
	</section><!--/form-->
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>

{% endblock %}

