{% extends 'index.html' %}
{% block titulo %} Home {% endblock %}

{% block encabezado %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
		      <h1>Home principal</h1>
        </div>

        <div class="col-sm-6">

             {% if user.is_authenticated %}
              <p>Bienvenido: {{usuario.username}}</p>
             <p>Ultima conexion: {{usuario.last_login}}</p>              
             {% else %}

           {% endif %}

        </div>
      </div>
    </div>
{% endblock %}


{% block contenido %}
  
<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Categorias</h2>
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                      <span class="badge pull-right"><i class="fa fa-plus"></i></span>

                      Banco de Tiempo
                    </a>
                  </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li><a href="bcategoria/?categoria=bt+Reformas">Reformas </a></li>
                      <li><a href="bcategoria/?categoria=bt+Electricistas">Electricistas</a></li>
                      <li><a href="bcategoria/?categoria=bt+Mudanzas">Mudanzas </a></li>
                      <li><a href="bcategoria/?categoria=bt+Formacion">Formación</a></li>
                      <li><a href="bcategoria/?categoria=bt+Belleza">Belleza </a></li>
                      <li><a href="bcategoria/?categoria=bt+Webmaster+y+Programacion">Webmasters y programadores </a></li>
                      <li><a href="bcategoria/?categoria=bt+Pintores">Pintores</a></li>
                      <li><a href="bcategoria/?categoria=bt+Musico">Musico </a></li>
                      <li><a href="bcategoria/?categoria=bt+Refuerzo+Educativo">Refuerzo educativo </a></li>
                      <li><a href="bcategoria/?categoria=bt+Niñer@s">Niñer@ </a></li>
                      <li><a href="bcategoria/?categoria=bt+Otras+Labores">Otras labores </a></li>


                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Hogar">Hogar</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Moda+y+Belleza">Moda y Belleza </a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Para+Niños+y+Bebes">Para niños y Bebés</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Electronica">Electrónica</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Ocio+y+Deporte">Ocio yDeportes</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Mascotas+y+Animales">Mascotas y Animales</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Vehiculos">Vehículos</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Inmobiliaria">Inmobilarias</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Trabajo+y+Formación">Trabajo y Formación</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Negocios+y+Servicios">Negocios y Servicios</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href="bcategoria/?categoria=Otros">Otros</a></h4>
                </div>
              </div>
            </div><!--/category-products-->
           
          </div>
        </div>
        
        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <!--<h2 class="title text-center">Ultimos Anuncios</h2>-->
            {% for elemento in home %}
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                    <!-- <div class="productinfo text-center" >-->
                    <div class="productinfo" >
                        <div class="productinfo text-center" >

                        <img src='{{MEDIA_URL}}{{elemento.imagen}}' WIDTH=128 HEIGHT=128 alt="" />
                        </div>

                        <br>
                       Propietario <a href="/usuario/mizona/{{elemento.propietario.id}}"><i class="fa fa-plus-square"></i><strong>{{elemento.propietario}}</strong></a></li>
                        <p>Titulo: {{elemento.titulo}}</p>

                       <!-- <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ver Anuncio</a> -->

                    </div>
                </div>
                <div class="choose">
                <ul class="nav nav-pills nav-justified">

                    <li><a href="/verAnuncio/{{elemento.id}}"><i class="fa fa-plus-square"></i>Ver Anuncio</a></li>
                    <!--<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
                  </ul>
                </div>
              </div>
            </div>
            {% empty %}
             <div class="container">
                  <div class="row">
                    <div class="col-sm-12">

                          <h1>No hay Anuncios en el sistema</h1>
                          <a href=/anuncios/nuevo>Insertar Nuevo</a>
                    </div>
                  </div>
            </div>

            {% endfor %}

          </div><!--features_items-->
         </div><!--features_items-->

          
</section>

{% endblock %}


