
h1 {

     color : white;
     font-family: 'Oswald', sans-serif;
     font-size: 48px;
     background-color: orange;
     margin-top: 0;
     padding: 80px 40px 80px 40px;

}

h2 {

     padding-top: 25px;
     padding-bottom: 15px;
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
     padding-left: 25%;
     padding-right: 25%;
     text-align: justify;
     letter-spacing: 1px;



}

.post p {

     font-family: 'Oswald', sans-serif;
     padding-left: 25%;
     padding-right: 25%;
     text-align: justify;
     font-size: 20px;
     letter-spacing: 0.3px;


}

body{

     font-family: 'Oswald', sans-serif;

}
