{% extends 'index.html' %}

{% block izq %}
	{% if userList %}
		{% for UserProfile in userList %}
			<center><a href="{% url 'Nav.views.imageList' user_id=UserProfile.id %}"><h1>{{UserProfile.username}}</h1></a></center>
			{% if UserProfile.photo %}
		 		 <a href="{{MEDIA_URL}}{{ UserProfile.photo }}"><img src="{{MEDIA_URL}}{{ UserProfile.photo }}" width="90%" height="90%"/></a>
			{% else %}
				No tiene foto de perfil.
			{% endif %}	
		{% endfor %}
	{% else %}
		No exisen usuarios con ese nombre.
	{% endif %}

{% endblock %}

{% block dcha%}
{% endblock %}
