{% extends "base.html" %}
{% load django_markdown %}
             {% block panel_usuario %}
             {% if user.is_authenticated %}
              <nav id="nav">
                <ul>
                  <li>Bienvenido, {{ user.username }}</li>
                  <li><a href="/">Últimas entradas</a></li>
                  <li class="current"><a href="/publicar/">Publicar Entrada</a></li>
                  <li><a href="/cerrar/sesion/">Cerrar Sesion</a></li>
                  {% if user.is_superuser %}
                  <li><a href="/mensajes/">Mensajes</a></li>
                  {% endif %}
                </ul>
              </nav>
              {% else %}
              <nav id="nav">
                <ul>
                  <li><a href="/">Últimas entradas</a></li>
                  <li><a href="/ingresar/">Log In</a></li>
                  <li><a href="/usuario/nuevo/">Sign Up</a></li>
                </ul>
              </nav>
              {% endif %}
              {% endblock %}
{% block contenido %}

	<form id='formulario' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
		<p>Título: {{formulario.title}}</p>
		<p>Texto: {{formulario.body|markdown}}</p>
		<p>Tags: {{formulario.tags}}</p>
		<p><input type='submit' value='Confirmar' /></p>
	</form>

	<a href="/publicar/crear/tags/" class="button">Crear Tags</a>
{% endblock %}