{% extends 'base.html' %}

             {% block panel_usuario %}
             {% if user.is_authenticated %}
              <nav id="nav">
                <ul>
                  <li>Bienvenido, {{ user.username }}</li>
                  <li><a href="/">Últimas entradas</a></li>
                  <li><a href="/publicar/">Publicar Entrada</a></li>
                  <li><a href="/cerrar/sesion/">Cerrar Sesion</a></li>
                </ul>
              </nav>
              {% else %}
              <nav id="nav">
                <ul>
                  <li><a href="/">Últimas entradas</a></li>
                  <li class="current"><a href="/ingresar/">Log In</a></li>
                  <li><a href="/usuario/nuevo/">Sign Up</a></li>
                </ul>
              </nav>
              {% endif %}
              {% endblock %}
{% block contenido %}
	<form method='post' action=''>
		<h2>Por favor, inicie sesión</h2>
		{% csrf_token %}
		{{ formulario.as_p }}
		<p><input type='submit' value='Ingresar'/></p>
	</form>
{% endblock %}