{% extends "base.html" %}
{% load django_markdown %}

 {% block panel_usuario %}
             {% if user.is_authenticated %}
              <nav id="nav">
                <ul>
                  <li>Bienvenido, {{ user.username }}</li>
                  <li><a href="/">Últimas entradas</a></li>
                  <li><a href="/publicar/">Publicar Entrada</a></li>
                  <li><a href="/cerrar/sesion/">Cerrar Sesion</a></li>
                 {% if user.is_superuser %}
                  <li><a href="/mensajes/">Mensajes</a></li>
                  {% endif %}
                  {% if user == entrada.author %}
                  <li><a href="/editar/{{ entrada.id }}">Editar entrada</a></li>
                  {% endif %}

                </ul>
              </nav>
              {% else %}
              <nav id="nav">
                <ul>
                  <li><a href="/">Últimas entradas</a></li>
                  <li><a href="/ingresar/">Log In</a></li>
                  <li><a href="/usuario/nuevo/">Sign Up</a></li>
                </ul>
              </nav>
              {% endif %}
              {% endblock %}

            {% block buscar %}
            <section class="box search">
                <form method="GET" action=".">
                  <input type="text" class="text" name="{{ query|escape }}" placeholder="Search" />
                </form>
              </section>
            {% endblock %}

            {% block contenido %}
            {% if results %}
    <ul>
{% for entradas in results %}
    <li><a href="{{ entradas.get_absolute_url }}">{{ entradas|escape }}</l1>
{% endfor %}
    </ul>
{% else %}
   <p>No se encontraron Entradas para {{ query|escape }}</p>
{% endif %}
{% endif %}

            {% endblock %}