{% load staticfiles %}

<html>
<head>

     <title>El mundo tudei</title>

     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="{% static 'css/principal.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara" rel="stylesheet">



</head>

<body>
     <div class="header">
          <h1 align=center><a href="/">El Mundo Tudei</a></h1>
     </div>
     <div class="content">

          {% block content %}
          {% endblock %}

     </div>
</body>

<footer>

     <p>Todas las noticias son completamente verificadas por un cuñados</p>

</footer>

</html>
