{% for p in lista %}
  <div class="ui message">
    <h2>{{p.titulo}}</h2>
    <p>{{p.texto}}</p>
    <a class="ui label">
      <i class="calendar icon"></i>{{p.fecha}}
    </a>
    <a class="ui label">
      <i class="user icon"></i> {{p.user.username}}
    </a>
    {% if isEditing %}
        {% if p.user == user %}
          <a href="/articulo/{{p.id}}/">modificar publicacion</a>
          <a href="/borrar/{{p.id}}/">borrar publicacion</a>
          {% endif %}
    {% endif %}
  </div>
{% endfor %}
