{% extends 'base.html' %}
{% block content %}
{% if status %}
  <div class="ui olive message">
    {{status}}
  </div>
{% endif %}
<form action="/register/" class="ui form" method="post">
{% csrf_token %}
    <div class="field">
      <label>Nombre</label>
      <input type="text" placeholder="Tu nombre" name="nombre">
    </div>
    <div class="field">
      <label>Apellidos</label>
      <input type="text" placeholder="Tus apellidos" name="apellidos">
    </div>
    <div class="field">
      <label>Contraseña</label>
      <input type="password" placeholder="Contraseña" name="password" required>
    </div>
    <div class="field">
      <label>Nombre de usuario</label>
      <input type="text" placeholder="Usuario" name="usuario" required>
    </div>
    <div class="field">
      <label>Correo electrónico</label>
      <input type="text" placeholder="Correo electrónico" name="email">
    </div>
    <button class="ui button" type="submit">Registrarme</button>
</form>
{% endblock %}
